<% include partials/header.ejs %>

<header class="container-fluid bg-info text-white" style="padding: 5%; background-color: #08a9f4;">
    <div class="container text-center">
      <h1>AliançaCar</h1>
      <p>Gerenciamento de serviços, compra e venda de carros</p>
    </div>
</header>

<div style="height: 600px;">
  
</div>

<% include partials/footer.ejs %>